<div class="projects-container">
  <div class="header-bar">
    <h2>Projects</h2>
    <button
      pButton
      type="button"
      label="Add Project"
      icon="pi pi-plus"
      class="btn-black"
      (click)="displayAddProjectDialog = true"
      (click)="addProject()"
    ></button>
  </div>
  <div class="search-bar">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        placeholder="Search..."
        [(ngModel)]="searchTerm"
        (input)="filterProjects()"
      />
    </span>
  </div>
  
  <div *ngIf="projects.length === 0" class="empty-state">
    No project found.
  </div>

  <div class="projects-grid">
    <div *ngFor="let project of filteredProjects" class="project-card">
      <div class="project-header">
        <h3>{{ project.name }}</h3>
        <div class="project-actions">
          <button
            pButton
            type="button"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-text p-button-info"
            tooltip="Edit"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-text p-button-danger"
            tooltip="Delete"
          ></button>
        </div>
      </div>

      <p><strong>Description:</strong> {{ project.description }}</p>
      <p><strong>Created by:</strong> {{ project.created_by }}</p>
    </div>
  </div>

  <p-dialog
    header="Add Project"
    [(visible)]="displayAddProjectDialog"
    [modal]="true"
    [closable]="true"
    [style]="{ width: '40vw' }"
  >
    <app-modal-project (projectCreated)="onProjectCreated()"></app-modal-project>
  </p-dialog>
  <!-- <button pButton type="button" label="Add Project" icon="pi pi-plus" (click)="addProject()"></button> -->
</div>
