<div class="projects-container">
  <h2>Projects</h2>

  <button
    pButton
    type="button"
    label="Add project"
    icon="pi pi-plus"
    class="btn-black"
    (click)="displayAddProjectDialog = true"
  ></button>

  <div *ngIf="projects.length === 0" class="empty-state">
    No Project founded.
  </div>

  <div *ngFor="let project of projects" class="project-card">
    <div class="project-header">
      <h3>{{ project.name }}</h3>
      <div class="project-actions">
        <button
          pButton
          type="button"
          icon="pi pi-pencil"
          class="p-button-rounded p-button-text p-button-info"
          tooltip="Modifier"
        ></button>
        <button
          pButton
          type="button"
          icon="pi pi-trash"
          class="p-button-rounded p-button-text p-button-danger"
          tooltip="Supprimer"
        ></button>
      </div>
    </div>

    <p><strong>Description:</strong> {{ project.description }}</p>
    <p><strong>created by:</strong> {{ project.create_dby }}</p>
  </div>

  <p-dialog
    header="Add project"
    [(visible)]="displayAddProjectDialog"
    [modal]="true"
    [closable]="true"
    [style]="{ width: '40vw' }"
  >
    <app-modal-project></app-modal-project>
  </p-dialog>
</div>
