<div class="p-fluid">
    <div class="p-field">
      <label for="name">Project Name</label>
      <input id="name" type="text" pInputText />
    </div>
    <div class="p-field">
      <label for="description">Description</label>
      <textarea id="description" pInputTextarea></textarea>
    </div>
    <div class="p-field">
      <label for="createdBy">Created By</label>
      <input id="createdBy" type="text" pInputText />
    </div>
  
    <button pButton type="button" label="Save" icon="pi pi-check" class="p-mt-3"></button>
  </div>
  