<div class="projects-container">
  <div class="search-bar">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        #searchBox
        type="text"
        pInputText
        placeholder="Search..."
        (input)="table.filterGlobal(searchBox.value, 'contains')"
      />
    </span>
  </div>

  <div class="header-bar">
    <h2>Users</h2>
    <button
      pButton
      type="button"
      label="Add User"
      icon="pi pi-plus"
      class="btn-black"
      (click)="displayAddUserDialog = true"
    ></button>
  </div>

  <div class="card project-table">
    <p-table
      #table
      [value]="users"
      [paginator]="true"
      [rows]="5"
      [responsiveLayout]="'scroll'"
      [globalFilterFields]="['name', 'email']"
      [tableStyle]="{ 'min-width': '60rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Photo</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>address</th>
          <th style="width: 4rem"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-user>
        <tr>
          <td>
            <img
              [src]="user.photo"
              alt="User photo"
              width="40"
              height="40"
              style="border-radius: 50%"
            />
          </td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{user.phone}}</td>
          <td>{{user.address}}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3">No users found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog
    header="Add User"
    [(visible)]="displayAddUserDialog"
    [modal]="true"
    [closable]="true"
    [style]="{ width: '40vw' }"
  >
    <app-modal-user></app-modal-user>
  </p-dialog>
</div>
